<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071240699347-bgs8om3cihes6jk269dljvhpebmmmr8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071240699347-bgs8om3cihes6jk269dljvhpebmmmr8p</string>
	<key>API_KEY</key>
	<string>AIzaSyBHllVVp6X6DN0iIRfj5uzfWee3l7U7Tu4</string>
	<key>GCM_SENDER_ID</key>
	<string>1071240699347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MuriTech.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitter-83e42</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-83e42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071240699347:ios:807c49bc22b9cddc8c6326</string>
</dict>
</plist>